*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header
{
	background: rgba(0, 0, 0, 0.5);
	background-image:url(header.jpg);
	height: 150vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
body
{
	font-family: monospace;
	background: rgba(0, 0, 0, 2.0);
    background-image:url(logo.jpg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.hero
{
	position: absolute;
	width: 90%;
	height: 0px;
	margin-left: 30px;
	margin-top: 20px;
}
.button
{
	margin-top: 20px;
	margin-left: 48%;
	margin-top: 50px; 
	float: center;
}
.scroll
{
	border: 3px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 20px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: purple;
	font-family: "roboto", sans-serif;
}
.ifram
{
	position: relative;
	width: 100%;
	height: 100%;
	top: 4%;
	margin-left: 30%;
	opacity: .3;
	transform: translateY(9%);
}
.ifram .img
{
	position: relative;
}
.ifram .img img
{
	vertical-align: middle;
	max-width: 600px;
	height: 590px;
	transition: 1s;
}
.container
{
	width: 100%;
	min-height: 160vh;
	background: #333;
	position: absolute;
	top: 220%;
	transform: translateY(-50%);
}
.container .pt p
{
   font-size: 30px; 
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 5px 50px;
	font-family: "roboto", sans-serif;	
}
.iframe
{
	position: relative;
	width: 30%;
	height: 400px;
	margin: 10px;
	float: left;
	overflow: hidden;
}
.iframe .img
{
	position: relative;
}
.iframe .img img
{
	vertical-align: middle;
	max-width: 100%;
	height: 400PX;
	transition: 1s;
}
.iframe:hover .img img
{
	transform: scale(1.5);
}
.iframe .book
{
	position: absolute;
	top: 0px; 
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 400px;
	opacity: .7;
	background: white;
	transform: scale(.5);
	visibility: hidden;
    text-align: center;
    transition: 0.01s;
}
.iframe:hover .book
{
  transform: scale(1);
	visibility: visible;	
}
.iframe .book h1
{
	position: relative;
	margin: 0;
	padding: 0;
	top: 40%;
	font-family: calibri;
	font-size: 40px;
	color: black;
	text-transform: uppercase;
}
.foot
{
	width: 100%;
	min-height: 0vh;
	background: #333;
	position: absolute;
	top: 300%;
	transform: translateY(-50%);
}
footer
{
	background: #28abe3;
	clear: both;
	text-align: center;
	color: #fff;
	font-family: "roboto", sans-serif;
	float: bottom;
	font-size: 20px;
	padding: 20px;
}